.upload-page {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	/* background: url('/public/images/backgroundHome.jpg') center center/cover
		no-repeat; */
}

.upload-form-container {
	background-color: rgba(0, 0, 0, 0.142);
	padding: 30px;
	border-radius: 12px;
	max-width: 400px;
	width: 100%;
	text-align: center;
	margin: 0;
}

.upload-title {
	font-size: 1.8em;
	color: #ccd0cf;
}

.upload-box {
	border: 2px dashed #4a5c6a;
	border-radius: 8px;
	padding: 30px;
	color: #9ba8ab;
	margin: 20px 0;
	cursor: pointer;
}

.upload-label {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.upload-icon {
	font-size: 2em;
	margin-bottom: 10px;
}

.upload-button {
	width: 100%;
	padding: 12px;
	margin-top: 20px;
	border: none;
	border-radius: 8px;
	background-color: #ff8225;
	color: white;
	font-size: 1em;
	cursor: pointer;
}

.upload-button:hover {
	background-color: #ff8225;
}
