absl-py
astunparse
certifi
charset-normalizer
click
colorama
Flask
flatbuffers
gast
google-pasta
grpcio
h5py
idna
itsdangerous
Jinja2
joblib
keras
keras-facenet
libclang
lz4
MarkupSafe
ml-dtypes
mtcnn
namex
numpy
opencv-python-headless
opt_einsum
optree
packaging
protobuf
requests
scikit-learn
scipy
setuptools
six
tensorflow
termcolor
threadpoolctl
typing_extensions
urllib3
Werkzeug
wheel
wrapt