* {
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-weight: 500;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  color: #ffffff;
}

p {
  font-weight: 400;
  font-size: 14px;
  color: #ccd0cf;
  line-height: 1.5;
  text-align: center;
  word-wrap: break-word;
  white-space: normal;
}

.landing-page {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 40px;
  max-height: 100vh;
  background-color: #06141b4d;
  flex-direction: column;
  align-items: center;
}

.background-cover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: -1;
  max-width: 100%;
  max-width: 100vh;
  filter: blur(40px);
  -webkit-filter: blur(40px);
}

.card-container {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-items: center;
  gap: 10px;
  width: 80%;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.card {
  position: relative;
  width: 300px;
  height: 570px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.card img {
  height: 100%;
  object-fit: cover;
  bottom: -10px;
}

.live-capture-card {
  background-color: #b43f3f;
  width: 500px;
  border-radius: 30px 15px 15px 30px;
  -webkit-border-radius: 30px 15px 15px 30px;
  -moz-border-radius: 30px 15px 15px 30px;
  -ms-border-radius: 30px 15px 15px 30px;
  -o-border-radius: 30px 15px 15px 30px;
}

.live-capture-card img {
  position: absolute;
  left: -200px;
}

.upload-card {
  background-color: #ff8225;
}

.upload-card img {
  position: absolute;
  right: -200px;
}

.logs-card {
  background-color: #173b45;
  border-radius: 15px 30px 30px 15px;
  -webkit-border-radius: 15px 30px 30px 15px;
  -moz-border-radius: 15px 30px 30px 15px;
  -ms-border-radius: 15px 30px 30px 15px;
  -o-border-radius: 15px 30px 30px 15px;
}

.logs-card img {
  position: absolute;
  right: -150px;
}

.card-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  padding: 20px;
  box-sizing: border-box;
  background: rgba(101, 101, 101, 0.337);
  color: #ccd0cf;
  text-align: center;
  border-radius: 15px 15px 0 0;
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -ms-border-radius: 15px 15px 0 0;
  -o-border-radius: 15px 15px 0 0;
}

.card-content p {
  color: #ccd0cf;
  margin-bottom: 20px;
  font-size: 0.8rem;
  font-weight: 300;
  text-wrap: wrap;
}

.card-button {
  padding: 8px 16px;
  background-color: #06141b;
  color: white;
  border: none;
  font-size: 14px;
  border-radius: 15px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  transform: scale(1);
  cursor: pointer;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.card:hover {
  width: 500px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.card-container:hover .card:not(:hover) {
  opacity: 0.7;
  filter: blur(0.5px);
  width: 300px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-filter: blur(0.5px);
}

.card-container:hover .card-content:hover {
  background-color: rgba(0, 0, 0, 0.253);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.card-container:hover .card-content:not(:hover) {
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.card:not(:hover) {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.robot-image {
  position: absolute;
  right: 20px;
  bottom: 30px;
  transform: scale(1);
  width: 100px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.robot-image:hover {
  cursor: pointer;
  transform: scale(1.4);
  bottom: 40px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
}

.robot-image:not(:hover) {
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
