body {
	font-family: 'Roboto', sans-serif;
}

.signup-page {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.background-image {
	position: absolute;
	top: 0;
	width: 70%;
	max-height: 100%;
	object-fit: cover;
}

.background-cover {
	opacity: 0.3;
	z-index: -1;
	max-height: 100%;
	filter: blur(40px);
	-webkit-filter: blur(40px);
}

.signup-form-container {
	position: absolute;
	right: 250px;
	background-color: rgba(116, 116, 116, 0.284);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 30px;
	border-radius: 12px;
	max-width: 400px;
	width: 100%;
	text-align: center;
}

.signup-title {
	font-family: 'Italianno', cursive;
	font-size: 2em;
	color: #ccd0cf;
	font-weight: normal;
	margin-bottom: 0;
}

.signup-subtitle {
	color: #9ba8ab;
	margin-bottom: 20px;
	font-weight: 400px;
}

.signup-form-container input[type='text'],
.signup-form-container input[type='email'],
.signup-form-container input[type='password'] {
	width: 70%;
	padding: 12px;
	margin: 10px 0;
	border-radius: 8px;
	border: 0px solid #ccd0cf;
	background-color: #ccd0cf;
	color: #06141b;
}
input:focus {
	outline: none;
	border: none;
}
.checkbox-group {
	width: 80%;
	display: flex;
	flex-direction: column;
	position: relative;
	left: 45px;
	color: #9ba8ab;
	font-size: 0.9em;
	text-align: left;
}

.checkbox-group input[type='checkbox'] {
	margin-right: none;
}

.checkbox-group label {
	margin-left: none;
}
.checkBoxes {
	margin: 8px 0;
}

.signup-button {
	width: 70%;
	padding: 12px;
	margin-top: 20px;
	border: none;
	border-radius: 30px;
	background-color: #ff8225;
	color: #06141b;
	font-size: 1em;
	margin-bottom: 10px;
	cursor: pointer;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
}

.signup-button:hover {
	background-color: #b43f3f;
	color: white;
	transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
}

.signup-button:not(:hover) {
	transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
}

.login-link {
	margin-top: 15px;
	font-size: 0.9em;
	color: #ccd0cf;
}

.login-link a {
	color: #ff8225;
}

.error-message {
	color: #ff8225;
	margin-top: 8px;
}

.success-message {
	color: green;
	margin-top: 8px;
}

.robot-image {
	position: absolute;
	right: 20px;
	bottom: 20px;
	transform: scale(1);
	width: 200px;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
}

.robot-image:hover {
	cursor: pointer;
	transform: scale(1.1);
	transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	-webkit-transform: scale();
	-moz-transform: scale();
	-ms-transform: scale();
	-o-transform: scale();
}

.robot-image:not(:hover) {
	transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
}
